{
  "extends": "airbnb/base",
  "parser": "babel-eslint",
  "rules": {
    "comma-dangle": 0,
    "no-console": 0,
    "func-names": 0,
    "space-before-function-paren": [2, { "anonymous": "never", "named": "never" }]
  }
}
